*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.gradle
.repo/
gradlew
gradlew.bat
#gradle/
droidfixcore/
/classes
/apk
/local.properties
/.idea
/*/DroidPatch
/*.iml
/*/build
/*/*.iml
.DS_Store
*.db
/build
/captures
threads_report.txt
/gradle/
projectFilesBackup/
/app/src/main/assets/config.json
/app/src/main/assets/config-md5.json
/app/src/main/assets/web_cache
/app/smallLibs/
/captures/
/build-small
/app.*/
/lib.*
/host.*
/jni_*
.repo/
/repo-manifest-lhapp
/react
/small
